@import url(https://fonts.googleapis.com/css?family=Montserrat:500);

:root {
  /* Base font size */
  font-size: 10px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
.hoverGroup{
  opacity: 0;
  position:absolute;
  z-index: 100000;
  top: 0px;
  left: 0px;
  color: #ffffff;
  font-family: 'HelveticaNeueHeavy';
  width:100%;
  height:100%;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  /* Compensate for excess margin on outer gallery flex items */
  margin: -1rem -1rem;
}

.gallery-item {
  /* Minimum width of 24rem and grow to fit available space */
  flex: 1 0 24rem;
  /* Margin value should be half of grid-gap value as margins on flex items don't collapse */
  margin: 1rem;
  box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
  overflow: hidden;
  position:relative;
}

.gallery-image {
  display: block;
  width: 100%;
  height: 230px;
  object-fit: cover;
  transition: transform 400ms ease-out;
}

.gallery-item:hover > .gallery-image{
  transform:scale(1.15);
  filter:brightness(0.4);
}

.gallery-item:hover > .hoverGroup{
  opacity: 1;
  animation: fadeInFromNone 1s ease-out;
}
.hoverGroup h2 {
  text-align: center;
  text-shadow: 0px 0px 2px #ffffff;
}
.hoverGroup p, .hoverGroup label {
  text-align: center;
  font-size: 15px;
}
@keyframes fadeInFromNone {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0.3;
  }
  100% {
    opacity:1;
  }
}

/*

The following rule will only run if your browser supports CSS grid.

Remove or comment-out the code block below to see how the browser will fall-back to flexbox styling. 

*/

@supports (display: grid) {
  .gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
    grid-gap: 2rem;
  }

  .gallery,
  .gallery-item {
    margin: 0;
  }
}
